@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --colorPrimario: #000;
    --colorSecundario: #F6F6F6;
    --colorTerciario: #22d4fd;
    --colorHover: #272727;
    --fuenteMontserrat: "Montserrat", sans-serif;
    --fuenteKrona: "Krona One", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}


body{
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    box-sizing: border-box;
}


.header{
    padding: 2% 0% 0% 15%;
}


.header__menu{
    display: flex;
    gap: 80px;
}


.header__menu__link{
    font-family: var(--fuenteMontserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--colorTerciario);
    text-decoration: none;
}


.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
    gap: 82px;
}


.presentacion__contenido{
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 40px;
}


.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuenteKrona);
}


.titulo-destaque{
    color: var(--colorTerciario);
}


.presentacion__contenido__parrafo{
    font-size: 1.5rem;
    font-family: var(--fuenteMontserrat);
}


.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
     
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuenteKrona);
    font-size: 1.5rem;
    font-weight: 400;
}


.presentacion__enlaces__link{
    width: 50%;
    background-color: var(--colorPrimario);
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuenteMontserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--colorSecundario);
    border: 2px solid var(--colorTerciario);
    display: flex;
    justify-content: center;
    gap: 16px;
    
    
}


.presentacion__enlaces__link:hover {
    background-color: var(--colorHover);
    color: yellow;

}

.presentacion__imagen{
    width: 50%;
}

.footer{
    background-color: var(--colorTerciario);
    padding: 1.5rem;
    color: var(--colorPrimario);
    text-align: center;
    font-family: var(--fuenteMontserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px ) {
    .presentacion {
        flex-direction: column;
    }

}